<div class="container-fluid">
  <h1 class = "text-warning text-center mt-5">My cocktails</h1>
  <div class="cards-container">
    <div class="cards">
      <%@cocktails.each do |cocktail| %>
        <%= render 'form', cocktail: cocktail%>
      <%end %>
    </div>
  </div>
  <div class="container text-center">
    <%= link_to 'new cocktail', new_cocktail_path%>
  </div>
</div>

